.About_Body[b-fmgz5xj2r0] {
  display: flex;
  justify-content: center;
}
.About_Paragraph[b-fmgz5xj2r0] {
  width: 40rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}
.Email[b-fmgz5xj2r0] {
  width: 40rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}
.Emma_Picture[b-fmgz5xj2r0] {
  border-style: double;
  border-color: rgba(209,207,197);
  border-width: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  justify-content: center;
}
