@page "/About"
<PageTitle>About EmmA</PageTitle>

<div class="About_Body">
    <p>
        <div class="About_Heading">
            About Emma Harris<br>
        </div>
        <div class="About_Paragraph">
            <br />
            Hi there! I am a 25 year old woman in the software development industry based in Portland, OR..
            <br />
        </div>
        <div class="Email">
            Contact Me!<br />
            <A href="mailto:emma.harris00000@gmail.com">emma.harris00000@gmail.com</A><br />
        </div>

    </p>

</div>


@code {

}
