@page "/"

<PageTitle>Index</PageTitle>

  <h1>Personal Website</h1>
        <div class="Emma_Picture">
            <img id="test" src="/images/bladee.webp" alt="image of emma lol" style="width:15rem;height:auto"/>

        </div>







  <!--
  <h1>Counter</h1>
  <p>The counter value is @currentCount</p>
  <button class="btn btn-primary" @onclick=IncrementCounter>Increment counter</button>
    -->

@code {
    /*
    private int currentCount = 0;
    private void IncrementCounter()
        {
    currentCount++;
    }
    */
}