@inherits LayoutComponentBase

<PageTitle>Emma_Personal_Website</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <div class="CV_Button">
                <button type="button"><NavLink href="/CV">CV</NavLink></button>
            </div>
            <div class="Emma_Harris_Button">
                <button type="button"><NavLink href="/">Emma Harris</NavLink></button>
            </div>
            <div class="About_Button">
                <button type="button"><NavLink href="/About">About</NavLink></button>
            </div>

        </div>
 <!--==============================================================================================================================================================-->



        <article class="content px-4">
            @Body
        </article>
        


<!--==============================================================================================================================================================-->
        <div class="bottom-row">
            <div class="Linkedin_Button">
                <form action="https://www.linkedin.com/in/emma-harris-b67136211" method="get" target="_blank">
                    <button type="submit" ><ion-icon name="logo-linkedin"></ion-icon></button>
                </form>
            </div>
            <div class="GitHub_Button">
                <form action="https://github.com/emmaharris00000" method="get" target="_blank">
                    <button type="submit"><ion-icon name="logo-github"></ion-icon></button>
                </form>
            </div>
            <div class="Twitter_Button">
                <form action="https://twitter.com/emma_____harris?t=sw-Zn0FcdIIE1r2ssrC0VA&s=09" method="get" target="_blank">
                    <button type="submit" ><ion-icon name="logo-twitter"></ion-icon></button>
                </form>
            </div>
        </div>

    </main>

</div>